<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:align="center">
    <h2>Edit User</h2>
    <form action="/admin/edit" th:method="put">
        <table th:border="1" th:cellpadding="5">
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="*{user.id}" readonly/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{user.username}"/></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" th:field="*{user.city}"/></td>
            </tr>

            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{user.email}"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="*{user.password}"/></td>
            </tr>
            <input type="checkbox" name="nameRoles" value="ROLE_USER"/>USER
            <input type="checkbox" name="nameRoles" value="ROLE_ADMIN"/>ADMIN
            <br/>
        </table>
        <br/>
        <td colspan="2"><input type="submit" value="Edit"></td>
        <br/>
        <br/>
        <a th:href="@{/logout}">EXIT</a>
    </form>
</div>

</body>
</html>